body{
  background-color: rgb(236, 142, 255);
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
span{
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
.hidden {
  color: rgb(100, 0, 120);
  font-size: 20px;
  background-color: rgba(239, 157, 255, 0.389);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(49, 48, 48, 0.689);
}
html,
h1, h2,
p, .message, form{
  display: flex;
  align-items: center;
  justify-content: center;
}